{% extends 'mlg/base.html' %}


{% block content %}
    <h1>{{us.firstname}} {{us.lastname}}</h1>
    <form method = "post" action = "#">
        {% csrf_token %}
        <ul>
            {% for item in us.projects_set.all %}
                <li><a href="/project/{{item.id}}">{{item.name}}</a></li>
            {% endfor %}
        </ul>
        <input type="text", name="projectName">
        <button type="submit", name="createProject", value="createProject">Create</button>
    </form>
{% endblock %}